* {
    margin: 0px;
}

body {
   font-family: "Quicksand", sans-serif;
}

.container-fluid {
    position: fixed;
    background-color: #f0f0f0;
    margin-top: 15px;
    height: 80px;
}

.booking-btn {
    margin-top: 15px;
}

#hero {
background-image: url("/header-image.jpg");
background-size: cover;
    height: 500px;
}

.menu-options {
    text-align: center;
}

.card {
    margin-right: 10px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 30px;
}

.email-btn {
    margin-left: 5px;
}
    

.nav-item {
    list-style-type: none;
}

.foot-nav {
    padding-right: 15px;
}
